* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #2D4480;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
  font-family: "Noto Sans Symbols", sans-serif;
  text-align: center;
  font-weight: 300;
  font-size: 36px;
  padding: 20px 0;
}
  
.card {
    background-color: white;
    box-shadow: 1px 10px 20px 10px #00000040;
    height: 480px;
    width: 288px;
    margin-top: 120px;
    border-radius: 30px;
    padding-inline: 40px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.button {
    background-color: #FFBC0F;
    color: #2D4480;
    font-family: "Noto Sans Symbols", sans-serif;
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    line-height: 65px;
    text-transform: uppercase;
    border-radius: 34px;
    width: 181px;
    height: 68px;
    bottom: -35px;
    position: absolute;
    left: calc(20%);
}

.feature {
    align-items: center;
    display: flex;
    margin-left: 10px;
    gap: 30px;
}

.feature img {
    height: 20px;
    width: 20px;
}

.feature h2 {
    font-family: "Noto Sans Symbols", sans-serif;
    font-weight: 600;
    font-size: 17px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}

.card hr {
    border: 1px solid black;
    margin-top: 20px;
}

.free {
    font-family: "Noto Sans Symbols", sans-serif;
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin: -5px 0;
}

.forever {
    color: #2D4480;
    font-family: "Allan", serif;
    font-weight: 400;
    font-size: 36px;
    text-align: center;
    transform: translateX(10%);
}

